
<div class="container" id="background">
	<div class="row">
		<div class="col-sm-4 list-group" id="cities">
		  <a href="/cities/san-francisco" class="list-group-item">San Francisco</a>
		  <a href="/cities/london" class="list-group-item">London</a>
		  <a href="/cities/gibraltar" class="list-group-item">Gibraltar</a>
		</div>

	<div class="col-sm-8" id="map"></div>

	<script type="text/javascript">
	      $(document).ready(function(){

	        var map = new GMaps({
	          div: '#map',
	          lat: 44.344622,
	          lng: -52.522918,
	          height: '500px',
	          zoom: 3
	        });

	        // San Francisco
	        map.addMarker({
	          lat: 37.7833,
	          lng: -122.4167,
	          title: 'San Francisco',
	          // click: function(e) {
	          //   alert('You clicked in this marker');
	          // },
	          infoWindow: {
	            content: '<p><a href="/cities/san-francisco">San Francisco</a></p>'
	          }
	        });

	        // London
	        map.addMarker({
	          lat: 51.5072,
	          lng: -0.1275,
	          title: 'London',
	          // click: function(e) {
	          //   alert('You clicked in this marker');
	          // },
	          infoWindow: {
	            content: '<p><a href="/cities/london">London</a></p>'
	          }
	        });

	        // Gibraltar
	        map.addMarker({
	          lat: 36.1430,
	          lng: -5.3530,
	          title: 'Gibraltar',
	          // click: function(e) {
	          //   alert('You clicked in this marker');
	          // },
	          infoWindow: {
	            content: '<p><a href="/cities/gibraltar">Gibraltar</a></p>'
	          }
	        });

	      });
	    </script>
	</div>
</div>



<div id="wrapper">
	<div id="columns">
		<% @posts.each do |p| %>
			<div class="pin">
					<h2> <%= link_to p.title, post_path(p) %> </h2>
					<h7> Written by: <%= link_to p.user.username, profile_path %></h7><br />
					<h7> About: <%= link_to p.city.city_name, city_path(p.city_id) %> </h7>
					<h5><%= p.content %> </h5>
			</div>
		<% end %>
	</div>
</div>

