/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 * Style tweaks
 * --------------------------------------------------
 */


body{
  background: #c7d0d5;
  padding-top: 70px;
  color: black;
}

.navbar {
  background: #93B1c6;
  padding-bottom: 15px;
  font-family: 'Amaranth', sans-serif;
  font-size: 20px;

}

.tags a:link{
	color: #FF7148
}

.tags a:visited{
	color: #FF7148
}

#cities a{
	font-family: 'Abril Fatface', sans-serif;
	font-size: 20px;
	opacity: 0.5;
}

#cities a:hover{
	opacity: 1;
}

h1{
	font-family: 'pacifico', sans-serif;

}

h2{
	font-family: 'Amaranth', sans-serif;
}

h4{
	font-family: 'ABeeZee', sans-serif;
}

h7 {
	font-family: 'ABeeZee', sans-serif;
}

h3{
	font-family: 'Pacifico', cursive;
	font-size: 20px;
}

h5{
	font-family: 'Open Sans Condensed', sans-serif;
}


a{
  color:black;
}

.nav li:hover {
  color: #ff7148
}

.navbar-brand img{
  height: 40px;
}
