// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	text-align: center
}

.profile{
	border: 1px dotted;
	h3{
		margin-left: 5px;
		margin-bottom: 0px;
	}
	h4{
		margin-left: 5px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
}
